.task{
	width: 100%;
	height: 10rem;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
}

.active{
	background-color: #ffeb3b;
}

.done {
	background-color: rgb(236, 240, 241);
}

.top_area{
	margin:1rem;
	padding: 1rem;
	width:100%;
	background-color: rgb(236, 240, 241);
}

.header{
	color: #727272;
	padding: 2rem;
}

.fr{
	float: right;
}

/*from cake.css*/
header {
  background-color: #15848F;
  color: #ffffff;
  font-size: 30px;
  height: 84px;
  line-height: 64px;
  padding: 16px 0px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
  padding-left:80px
}